*{
	margin:0;
	padding: 0;
}
body{
	font:16px/1.8 "Microsoft YaHei",verdana;
	z-index: 11;
	position: relative;
}
.music .rota{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-image:url("img/11.png");
	margin-left:96%;
	margin-top: 17%;
	z-index: 22;
	position: absolute;
	text-align: center;
	-webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 10s linear infinite;
    -moz-animation: rotate 10s linear infinite;
    -o-animation: rotate 10s linear infinite;
	animation: rotate 10s linear infinite;
}
.music:hover .rota:hover{
	display:inline;
}

@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}

to{-webkit-transform: rotate(360deg)}

}

@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}

to{-moz-transform: rotate(359deg)}

}

@-o-keyframes rotate{from{-o-transform: rotate(0deg)}

to{-o-transform: rotate(359deg)}

}

@keyframes rotate{from{transform: rotate(0deg)}

to{transform: rotate(359deg)}

}

.section{
	position: relative;
	background-color: #fff;
	overflow: hidden;
	text-align: center;
}
.section1{
	background: url("img/bgimg1.jpg") no-repeat center;
	background-size: cover;
}
.box{ 
	width: 700px;
	height: 350px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
    border-radius: 5px;
	transition-duration: 0.5s;  
}
.box:hover{
	-webkit-box-shadow: rgb(71, 70, 70) 5px 10px 10px;
	-moz-box-shadow: rgb(71, 70, 70) 5px 10px 10px;
	box-shadow: rgb(71, 70, 70) 5px 10px 10px;  
}

.section1 h1{
	margin-top: 5%;
	color: #fff;
	font-weight: normal;
	font-size: 70px;
	opacity: 0.8;
}
.section1 p{
	margin:1% auto 0;
	color: gray;
	font-size: 18px;
	opacity: 0.6;
	
}

.section2{
	background:#f2f2f2 url("img/bgimg2.jpg") no-repeat bottom;
	background-size: 100%;
}

.section2 img{
	border-radius: 100px;
	margin: 30px auto;
	color: #333;
	width: 200px;
	height: 200px;
	font-weight: normal;
	
}
.section2 p{
	margin: 20px auto 0;
	color: #333;
	font-size: 18px;
	width: 60%;
	margin-left: 1500px;
	font-size: 18px;
}

.section3{
	background:#fff url("img/bgimg3.jpg") no-repeat bottom;
	background-size: 100%;
}
.section3 h1{
	font-size: 180px;
	-webkit-text-stroke:1px #ff9c00;
	color: transparent;
	margin-top: 10px auto 0;
	color: #333;
	font-weight: normal;
	
}

.section4{
	background:#f2f2f2 url("img/bgimg4.jpg") no-repeat bottom;
	background-size: 100%;
}

.section4 h1{
	margin:20px auto;
	color: rgb(119, 110, 110);
	font-weight: normal;
	font-size: 40px;
	-webkit-text-stroke:1px #0a3c75;
}

.wdjl-box{
	text-align: left;
	}
	
.section5 row{
	width: 95%;
	margin-left: 20px;
	color: #333;
	font-size: 18px;
}
.section5 .column{
	/* float: left; */
	display: inline-block;
	width: 31%;
	margin:10px;
	padding-bottom: 30px;
}
.section5 .column p{
	margin: 10px auto;
	width: 90%;
	font-size: 16px;
}

.section5 .column img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border:black solid 1px;
	margin-top: 30px;
}
/* .section5 .column img:hover{

} */
.section5 .column h4{
	margin: 20px auto;
}
.section5 .column h4.primary{
	background-size: 102px 22px;
	height:22px;
	width: 102px;
	color: coral;
}
.section .column h4.sport{
	background-size: 178px 22px;
	height: 22px;
	width: 178px;
	color: chartreuse;
}
.section .column h4.edition{
	background-size: 190px 22px;
	height: 22px;
	width: 190px;
	color: gold;
}

.section5{
	background:#f2f2f2 url("img/bgimg5.jpg") no-repeat bottom;
	background-size: 100%;
}
.section5 h1{
	margin:20px auto;
	color: rgb(119, 110, 110);
	font-weight: normal;
	font-size: 40px;
	-webkit-text-stroke:1px #9008ac;
} 

.section6{
	background:#f2f2f2 url("img/bgimg6.jpg") no-repeat bottom;
	background-size: 100%;
}
.section6 h1{
	margin-top:20px;
	color: rgb(244, 248, 25);
	font-weight: normal;
	font-size: 40px;
	-webkit-text-stroke:1px #374435;
	text-decoration:underline;
}
.bq{
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 0px;
	margin-left: 35%;
	float: left;
	white-space: nowrap;
}
.bq p{
	float: left;
	font-size: 24px; 
	width: 100px;
}
.bottom{
	width: 100%;
	margin-top: 15%;
	font-size:22px;
}